<!DOCTYPE html>
{% load static %}
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Study Gymon</title>
    <link rel="stylesheet" type="text/css" media="screen" href="{% static 'styles/main.css' %}">
  </head>
  <body>
    {% include "navbar.html" %} 
    
    {% if messages %}

    <ul class="messages">
      {% for message in messages %}
      <li{% if message.tags %} class="{{message.tag}}" {% endif %}>{{message}}</li>
      {% endfor %}
    </ul>
    {% endif %}

    {% block content %} {% endblock %} {% include "footer.html"%}
    <script>
      const toggle_btn = document.getElementById("toggle_btn");
      const dropdown_menu = document.getElementById("dropdown_menu");

      toggle_btn.addEventListener("click", (event) => {
        dropdown_menu.classList.toggle("open");
        const isOpen = dropdown_menu.classList.contains("open");
        toggle_btn.textContent = isOpen ? "⨯" : "≡";
      });
    </script>
  </body>
</html>
