{% extends 'main.html' %} {% block content %}

<style>
  .home-container {
    display: grid;
    grid-template-columns: 1fr 3fr;
    margin: 20px;
  }

  @media (max-width: 1094px) {
    .home-container {
      grid-template-columns: 3fr 1fr;
      margin: 20px;
    }
    .browser {
      display: none;
    }
  }
</style>

<div>
  <form action="{% url 'home' %}" method="get">
    <input type="text" name="q" placeholder="Search Rooms" />
  </form>
</div>
<div class="home-container">
  <div class="browser">
    <h3>Browse Subjects</h3>
    <hr />
    <div>
      <a href="{% url 'home' %}">All</a>
    </div>
    {% for subject in subjects %}
    <div>
      <a href="{% url 'home' %}?q={{subject.name}}">{{subject.name}}</a>
    </div>
    {% endfor %}
  </div>
  <div>
    <h5>{{room_count}} rooms available</h5>
    <a href="{% url 'create-room' %}"><button>Create Room</button></a>
    <div>
      {% for room in rooms %}
      <div>
        <span>@{{room.host.username}}</span>
        {% if request.user == room.host %}
        <b><a href="{% url 'update-room' room.id %}">edit</a></b>
        <b><a href="{% url 'delete-room' room.id %}">delete</a></b>
        {% endif %}
        <p>{{room.id}}. <a href="{% url 'room' room.id %}">{{room.name}}</a></p>
        <small>{{room.subject}}</small>
        <hr />
      </div>
      {% endfor %}
    </div>
  </div>
</div>

{% endblock %}
